.search {
    display: flex;
    flex: 0 0 70%;
    justify-content: center;
    align-items: center;

    &__input {
        background-color: var(--color-light-secondary);
        border-radius: 5px;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        color: inherit;
        // border: 1px solid darkgray;
        border: none;
        width: 92%;
        height: 35px;
        // padding: 5px 20px;
        transition: all .2s;
        margin-left: -28px;
        padding: 5px 40px;

        &:focus {
            outline: none;
            width: 95%;
        }
    }

    &__btn {
        background-color: var(--color-light-secondary);
        border: none;
        width: 20px;
        height: 30px;
        z-index: 1;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__btn-icon {
        height: 15px;
        background-color: var(--color-light-secondary);
    }
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    
    &__image {
        height: 22px;
        border: 1px #000000 solid;
        border-radius: 50%; 
    }

    &__text {
        text-align: center;
        font-weight: 400;
        padding: 0 10px;
    }
}

.logo {
    width: 150px;
}

.brand {
    text-align: center;
    padding: 20px 30px;
    &__text {
        font-size: 22px;
        text-transform: capitalize;
        color: var(--color-light-primary);
        letter-spacing: 3px;
    }
}


.breadcrumb {
    display: flex;
    align-items: center;
    &__icon {
        width: 14px;
    }

    &__text {
        font-size: 12px;
        margin-left: 10px;
    }
}

.overview {
    &__text {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        padding: 20px 0 5px 0;
        margin: 10px 0;
        letter-spacing: 1px;

        &--bold {
            font-weight: 400;
            font-size: 16px;
            margin-right: 10px;
        }
        &--light {
            color: darkgray;
        }
    }
}

.menu {
    list-style: none;

    &--main {

    }

    &--secondary {

    }

    &--inline {
        display: flex;
        align-items: center;
        .menu__item:first-of-type {
            transform: translateX(-10px);
        }

        .menu__icon {
            transform: scale(0.7);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 10px 10px;
    }

    &__link {
        &--active {
            color: var(--color-primary);
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: capitalize;
        color: var(--color-light-secondary);

        &:focus {
            outline: none;
        }
        &:active {
            outline: none;
        }
        &:hover {
            outline: none;
            color: var(--color-primary-3);
        }
        &--active{
            color: var(--color-primary-3);
        }
    }

    &__icon {
        width: 15px;
        height: 15px;
        color: var(--color-light-primary);
        margin-right: 10px; 

        &--right {
            margin-right: 0;
            margin-left: 10px;
        }
        &--dark {
            color: var(--color-dark-primary);
        }
        &--success {
            color: var(--color-success);
        }
        &--active{
            color: var(--color-primary-3);
        }
        &:active {
            color: var(--color-primary-3)
        }
        &:hover {
            color: var(--color-primary-3)
        }
    }

    &__text {
        font-size: 12px;
        &--black {
            color: var(--color-dark-primary)
        }
        &--active{
            color: var(--color-primary-3);
        }
    }
    &--active{

    }
    
}

.label {
    text-align: center;
    font-size: 10px;
    padding: 3px 10px; 
    margin: 0 10px;
    width: auto;
    font-weight: 200;
    color: var(--color-dark-primary);
    border-radius: 40px;

    &--success{
        background-color: var(--color-success);
        color: var(--color-light-primary);
    }
    &--warning {
        background-color: var(--color-warning);
        color: var(--color-dark-primary);
    }
}

.card {
    background-color: var(--color-light-primary);
    // box-shadow: var(--shadow-primary-2);
    // width: 100%;
    padding: 10px 15px;
    border-radius: 7px;
    border: 2px var(--color-light-secondary) solid;
    margin: 0 10px 20px 0;

    &__title {
        display: block;
        margin: 0 0 5px 0;
        font-size: 12px;
        font-weight: 600;
        color: #9EA3B0;
    }
    &__subtext {
        display: block;
        margin: 0 0 5px 0;
        font-size: 12px;
        color: #9EA3B0;
    }
    &__body {
        display: flex;
        flex-direction: column;
    }
    &__body-text {
        display: block;
        font-size: 12px;
        color: #9EA3B0;
        line-height: 1.5;
        &--compact{
            line-height: 1.5;
        }

        &--free {
            line-height: 3.0;
        }
    }
    
}
.card:last-type-of {
    margin-bottom: 0; 
}

.btn {
    display: block;
    box-shadow: var(--shadow-primary-2);
    border-radius: 5px;
    padding: 5px 10px;
    width: unset;
    height: 25px;
    border: none;
    color: var(--color-light-secondary);
    font-size: 10px;
    transition: all .2s ease-in;

    &:active {
        outline: none;
        transform: translateY(2px)
    }
    &:focus {
        outline: none;

    }
    &--right {
        position: absolute;
        right: 10px;
    }

    &--success {
        color: var(--color-light-primary);
        background-color: var(--color-primary);
    }
}
.checkbox {
    display: flex;
    align-items: center;

    &__input {
        position:relative;
        clip: rect(0,0,0,0);
        clip: rect(0 0 0 0);
        margin: 0 10px 0 0;

        &:focus {
            outline: none;
        }

        &::after {
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            border: 2px green solid;
            border-radius: 3px;
            top: 0;
            bottom: 0;
            transition: all .3s ease-in;
            background-color: var(--color-light-primary);
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }

        &:checked {
            &::after {
                content: '';
                position: absolute;
                height: 15px;
                width: 15px;
                border: none;
                background-color: var(--color-primary);
                &:focus {
                    outline: none;
                }
            }
        }
    }
    
    &__label {
        color: var(--color-light-secondary-2);
        font-size: 12px;
        transform: translateY(3px);
    }
}

//Utility Classes

.text-blue {
    color: var(--color-text-blue);
}